.bg-alert {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .alert-container {
    background-color: #70949d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 60px;
    span {
      color: white;
      text-transform: uppercase;
      font-family: 'Josefin Sans', sans-serif;
      letter-spacing: 3px;
    }
  }
}

@media screen and (max-width: 576px) {
  .bg-alert {
    .alert-container {
      padding: 20px 30px;
      span {
        color: white;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1.5px;
      }
    }
  }
}
