.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  h1 {
    color: white;
    text-align: center;
    font-weight: 700;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 360px;
    }
    .input-wrapper {
      position: relative;
      input {
        border-radius: 30px;
        font-size: 20px;
        border: 1px solid white;
        background-color: transparent;
        padding: 1rem;
        width: 45rem;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        outline: none;
      }
      #search {
        position: absolute;
        width: 30px;
        top: 12px;
        right: 10px;
      }
    }
    ::placeholder {
      color: rgba(255, 255, 255, 0.735);
    }
  }
}

@media screen and (max-width: 576px) {
  .header-container {
    h1 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .input-container {
      .input-wrapper {
        input {
          width: 22rem;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .header-container {
    .input-container {
      img {
        width: 300px;
      }
      .input-wrapper {
        input {
          width: 18rem;
        }
      }
    }
  }
}
